In [187]:
# Importing dependencies for comunicating with sqlite db
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import create_engine,inspect, func, desc
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
import pyodbc
import sqlalchemy as sa
import urllib
import pandas as pd
import os

In [188]:
# Create engine to connect to Sensors.db
engine = create_engine('sqlite:///data/Sensors.db', echo=False)
Base = automap_base()

In [189]:
# Using Base.prepare and Base.classes we will reflect DB into ORM classes
Base.prepare(engine, reflect=True)
Base.classes.keys()

['BME_DATA']

In [190]:
# Explore database with inspector
inspector = inspect(engine)
inspector.get_table_names()

['BME_DATA', 'FORECAST']

In [191]:
# Save the refference from table BME_DATA
Rambo = Base.classes.BME_DATA

In [192]:
# Create db sesion object
session = Session(engine)

In [193]:
# Creating the query to identify last date to identify end ponint of the year
df = pd.read_sql("SELECT * FROM BME_DATA", engine)

In [194]:
df['TIME_STAMP'] = pd.to_datetime(df['TIME_STAMP'])

In [195]:
# using funciton to convert string into date time
from datetime import datetime, timedelta

def hour_rounder(t):
    # Rounds to nearest hour by adding a timedelta hour if minute >= 30
    return (t.replace(second=0, microsecond=0, minute=0, hour=t.hour)
               +timedelta(hours=t.minute//30))

In [196]:
# testing on  single value
test = hour_rounder(df['TIME_STAMP'][0])

In [197]:
# converting fro all values in entire column
df['TIME_STAMP'] = df['TIME_STAMP'].apply(hour_rounder)

In [198]:
# converting temperature from C to f
df['TEMPERATURE'] = round((df['TEMPERATURE']* 9/5) + 32)

In [202]:
# create new tale and drop Id
df = df[["TIME_STAMP", "TEMPERATURE"]]

In [203]:
df.head()

           TIME_STAMP  TEMPERATURE
0 2019-04-09 23:00:00        167.0
1 2019-04-09 23:00:00         68.0
2 2019-04-10 00:00:00         68.0
3 2019-04-10 01:00:00         67.0
4 2019-04-10 02:00:00         67.0

In [204]:
# Export to csv
df.to_csv("Rambo.csv", sep=',', encoding='utf-8')
df.head()

           TIME_STAMP  TEMPERATURE
0 2019-04-09 23:00:00        167.0
1 2019-04-09 23:00:00         68.0
2 2019-04-10 00:00:00         68.0
3 2019-04-10 01:00:00         67.0
4 2019-04-10 02:00:00         67.0

In [205]:
# Convert back to string for Json 
df['TIME_STAMP'] = df['TIME_STAMP'].dt.strftime('%Y-%m-%d %H:%M')
df.head()

         TIME_STAMP  TEMPERATURE
0  2019-04-09 23:00        167.0
1  2019-04-09 23:00         68.0
2  2019-04-10 00:00         68.0
3  2019-04-10 01:00         67.0
4  2019-04-10 02:00         67.0

In [206]:
df_json_ready = df.to_json(orient='records')

In [207]:
df_json_ready

'[{"TIME_STAMP":"2019-04-09 23:00","TEMPERATURE":167.0},{"TIME_STAMP":"2019-04-09 23:00","TEMPERATURE":68.0},{"TIME_STAMP":"2019-04-10 00:00","TEMPERATURE":68.0},{"TIME_STAMP":"2019-04-10 01:00","TEMPERATURE":67.0},{"TIME_STAMP":"2019-04-10 02:00","TEMPERATURE":67.0},{"TIME_STAMP":"2019-04-10 03:00","TEMPERATURE":66.0},{"TIME_STAMP":"2019-04-10 04:00","TEMPERATURE":65.0},{"TIME_STAMP":"2019-04-10 05:00","TEMPERATURE":64.0},{"TIME_STAMP":"2019-04-10 06:00","TEMPERATURE":63.0},{"TIME_STAMP":"2019-04-10 07:00","TEMPERATURE":62.0},{"TIME_STAMP":"2019-04-10 08:00","TEMPERATURE":61.0},{"TIME_STAMP":"2019-04-10 09:00","TEMPERATURE":62.0},{"TIME_STAMP":"2019-04-10 10:00","TEMPERATURE":63.0},{"TIME_STAMP":"2019-04-10 11:00","TEMPERATURE":66.0},{"TIME_STAMP":"2019-04-10 12:00","TEMPERATURE":69.0},{"TIME_STAMP":"2019-04-10 13:00","TEMPERATURE":71.0},{"TIME_STAMP":"2019-04-10 14:00","TEMPERATURE":73.0},{"TIME_STAMP":"2019-04-10 15:00","TEMPERATURE":75.0},{"TIME_STAMP":"2019-04-10 16:00","TEMPERATURE":77.0},{"TIME_STAMP":"2019-04-10 17:00","TEMPERATURE":79.0},{"TIME_STAMP":"2019-04-10 18:00","TEMPERATURE":80.0},{"TIME_STAMP":"2019-04-10 19:00","TEMPERATURE":82.0},{"TIME_STAMP":"2019-04-10 20:00","TEMPERATURE":82.0},{"TIME_STAMP":"2019-04-10 21:00","TEMPERATURE":81.0},{"TIME_STAMP":"2019-04-10 22:00","TEMPERATURE":79.0},{"TIME_STAMP":"2019-04-10 23:00","TEMPERATURE":77.0},{"TIME_STAMP":"2019-04-11 00:00","TEMPERATURE":75.0},{"TIME_STAMP":"2019-04-11 01:00","TEMPERATURE":73.0},{"TIME_STAMP":"2019-04-11 02:00","TEMPERATURE":71.0},{"TIME_STAMP":"2019-04-11 03:00","TEMPERATURE":70.0},{"TIME_STAMP":"2019-04-11 04:00","TEMPERATURE":68.0},{"TIME_STAMP":"2019-04-11 05:00","TEMPERATURE":67.0},{"TIME_STAMP":"2019-04-11 06:00","TEMPERATURE":67.0},{"TIME_STAMP":"2019-04-11 07:00","TEMPERATURE":67.0},{"TIME_STAMP":"2019-04-11 08:00","TEMPERATURE":67.0},{"TIME_STAMP":"2019-04-11 09:00","TEMPERATURE":67.0},{"TIME_STAMP":"2019-04-11 10:00","TEMPERATURE":69.0},{"TIME_STAMP":"2019-04-11 11:00","TEMPERATURE":70.0},{"TIME_STAMP":"2019-04-11 12:00","TEMPERATURE":72.0},{"TIME_STAMP":"2019-04-11 13:00","TEMPERATURE":74.0},{"TIME_STAMP":"2019-04-11 14:00","TEMPERATURE":75.0},{"TIME_STAMP":"2019-04-11 15:00","TEMPERATURE":77.0},{"TIME_STAMP":"2019-04-11 16:00","TEMPERATURE":79.0},{"TIME_STAMP":"2019-04-11 17:00","TEMPERATURE":80.0},{"TIME_STAMP":"2019-04-11 18:00","TEMPERATURE":80.0},{"TIME_STAMP":"2019-04-11 19:00","TEMPERATURE":81.0},{"TIME_STAMP":"2019-04-11 20:00","TEMPERATURE":81.0},{"TIME_STAMP":"2019-04-11 21:00","TEMPERATURE":81.0},{"TIME_STAMP":"2019-04-11 21:00","TEMPERATURE":80.0},{"TIME_STAMP":"2019-04-11 22:00","TEMPERATURE":80.0},{"TIME_STAMP":"2019-04-11 23:00","TEMPERATURE":79.0},{"TIME_STAMP":"2019-04-12 00:00","TEMPERATURE":78.0},{"TIME_STAMP":"2019-04-12 01:00","TEMPERATURE":78.0},{"TIME_STAMP":"2019-04-12 02:00","TEMPERATURE":76.0},{"TIME_STAMP":"2019-04-12 03:00","TEMPERATURE":76.0},{"TIME_STAMP":"2019-04-12 04:00","TEMPERATURE":75.0},{"TIME_STAMP":"2019-04-12 05:00","TEMPERATURE":75.0},{"TIME_STAMP":"2019-04-12 06:00","TEMPERATURE":74.0},{"TIME_STAMP":"2019-04-12 07:00","TEMPERATURE":74.0},{"TIME_STAMP":"2019-04-12 08:00","TEMPERATURE":73.0},{"TIME_STAMP":"2019-04-12 09:00","TEMPERATURE":73.0},{"TIME_STAMP":"2019-04-12 10:00","TEMPERATURE":73.0},{"TIME_STAMP":"2019-04-12 11:00","TEMPERATURE":73.0},{"TIME_STAMP":"2019-04-12 12:00","TEMPERATURE":74.0},{"TIME_STAMP":"2019-04-12 13:00","TEMPERATURE":75.0},{"TIME_STAMP":"2019-04-12 14:00","TEMPERATURE":76.0},{"TIME_STAMP":"2019-04-12 15:00","TEMPERATURE":77.0},{"TIME_STAMP":"2019-04-12 16:00","TEMPERATURE":78.0},{"TIME_STAMP":"2019-04-12 17:00","TEMPERATURE":79.0},{"TIME_STAMP":"2019-04-12 18:00","TEMPERATURE":79.0},{"TIME_STAMP":"2019-04-12 19:00","TEMPERATURE":79.0},{"TIME_STAMP":"2019-04-12 20:00","TEMPERATURE":79.0},{"TIME_STAMP":"2019-04-12 21:00","TEMPERATURE":78.0},{"TIME_STAMP":"2019-04-12 22:00","TEMPERATURE":76.0},{"TIME_STAMP":"2019-04-12 23:00","TEMPERATURE":75.0},{"TIME_STAMP":"2019-04-13 00:00","TEMPERATURE":74.0},{"TIME_STAMP":"2019-04-13 01:00","TEMPERATURE":72.0},{"TIME_STAMP":"2019-04-13 02:00","TEMPERATURE":71.0},{"TIME_STAMP":"2019-04-13 03:00","TEMPERATURE":70.0},{"TIME_STAMP":"2019-04-13 04:00","TEMPERATURE":69.0},{"TIME_STAMP":"2019-04-13 05:00","TEMPERATURE":68.0},{"TIME_STAMP":"2019-04-13 06:00","TEMPERATURE":68.0},{"TIME_STAMP":"2019-04-13 07:00","TEMPERATURE":67.0},{"TIME_STAMP":"2019-04-13 08:00","TEMPERATURE":67.0},{"TIME_STAMP":"2019-04-13 09:00","TEMPERATURE":67.0}]'

In [208]:
df.to_json(r'Rambo.json')